<!doctype html>
<html>
<% include header %>
<body>
<% include navbar %>
    <div class="section no-pad-bot" id="index-banner">

    </div>    
    <div class="container">
        <div id="statsSection" >
            <h5>Played games:<%= user.played ? user.played : 0 %></h5>
            <h5>Wins: <%= user.wins ? user.wins : 0 %></h5>
            <h5>Drawed: <%= user.drawed ? user.drawed : 0 %></h5>
            <%if(user.ratingChange == 0) { %>
            <h5>Rating: <%= user.rating ? user.rating : N/A %></h5>
            <%} else if(user.ratingChange > 0) { %>
            <h5>Rating: <%= user.rating ? user.rating : N/A %><span style="color:green;">(+<%= user.ratingChange %>)</span></h5>
            <%  %>
             <%} else if(user.ratingChange < 0) { %>
            <h5>Rating: <%= user.rating ? user.rating : N/A %><span style="color:darkRed;">(<%= user.ratingChange %>)</span></h5>
            <% } %>

   

        </div>

        <div id="actionSection" >
        <p id="searchGameButton"><a href="/play?mode=match_making" class="btn btn-primary cyan darken-1 "><i class="tiny material-icons">search</i> Search Game</a></p>
        <p id="customGameButton"><a href="/play?mode=create_private" class="btn btn-primary cyan darken-3 "><i class="tiny material-icons">add</i>  Create private game</a></p>
        <p id="customGameButton"><a href="/play?mode=join_private" class="btn btn-primary cyan darken-4 "><i class="tiny material-icons">redo</i>   Join private game</a></p>
        </div>
        
        <div id="ladderSection">
            <h5> Top 5  </h5>
            <ul
                <% for(var i=0; i < topUsers.length; i++) { %>
                <li> <%= i+1 %>. <%- topUsers[i].displayname %>: <%- topUsers[i].rating ? topUsers[i].rating : N/A %> </li>
                <% } %>
            </ul>
        </div>
    </div>       
</body>



 <% include footer %>
</html>